h1 {
    font-style: italic; 
    text-align: center
}
p {color: lightseagreen}
div.developer {
    width: 200px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }

  div.myfood {
    width: 200px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }

  div.partnerfood {
    width: 200px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }

  div.picture {
    width: 270px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }